In [1]:
import numpy as np
import csv

### LOADING DATASET AND OBSERVING VALUES

In [2]:
## with open("AB_NYC_2019.csv","r",encoding="utf8") as f:
## air=list(csv.reader(f,delimiter=","))

In [3]:
 ## air = open('AB_NYC_2019.csv', encoding="utf8")

In [4]:
with open("AB_NYC_2019.csv",'r',encoding="latin1")as f:
    data=list(csv.reader(f,delimiter=','))
air=np.array(data)
air

array([['id', 'name', 'host_id', ..., 'reviews_per_month',
        'calculated_host_listings_count', 'availability_365'],
       ['2539', 'Clean & quiet apt home by the park', '2787', ...,
        '0.21', '6', '365'],
       ['2595', 'Skylit Midtown Castle', '2845', ..., '0.38', '2', '355'],
       ...,
       ['36485431', 'Sunny Studio at Historical Neighborhood',
        '23492952', ..., '', '1', '27'],
       ['36485609', '43rd St. Time Square-cozy single bed', '30985759',
        ..., '', '6', '2'],
       ['36487245', "Trendy duplex in the very heart of Hell's Kitchen",
        '68119814', ..., '', '1', '23']], dtype='<U179')

In [5]:
print(air)

[['id' 'name' 'host_id' ... 'reviews_per_month'
  'calculated_host_listings_count' 'availability_365']
 ['2539' 'Clean & quiet apt home by the park' '2787' ... '0.21' '6' '365']
 ['2595' 'Skylit Midtown Castle' '2845' ... '0.38' '2' '355']
 ...
 ['36485431' 'Sunny Studio at Historical Neighborhood' '23492952' ... ''
  '1' '27']
 ['36485609' '43rd St. Time Square-cozy single bed' '30985759' ... '' '6'
  '2']
 ['36487245' "Trendy duplex in the very heart of Hell's Kitchen"
  '68119814' ... '' '1' '23']]

### PRINT THE NUMBER OF ROWS AND COLUMNS IN THE DATASET

In [6]:
air.shape

(48896, 16)

### datatype of all values in the dataset

In [7]:
air.dtype

dtype('<U179')

### datatype of values in colums "name" and "price"

In [8]:
np.dtype([('name', np.unicode_, 16), ('price', np.float64,)])

dtype([('name', '<U16'), ('price', '<f8')])

### FINDING THE HIGHEST PRICE OF THE ROOMS

In [9]:
price=(air[1:,9])
print(price)

['149' '225' '150' ... '115' '55' '90']

In [13]:
highest_price=max(price)
print("Maximum price of the rooms: $",highest_price)

Maximum price of the rooms: $ 9999

### FINDING THE LOWEST PRICE OF THE ROOMS

In [11]:
lowest_price=min(price)
print("Minimum price of the rooms: $",lowest_price)

Minimum price of the rooms: $ 0

In [12]:
np.mean(price)

TypeError: cannot perform reduce with flexible type

In [14]:
print("std of price : ", np.std(price, dtype = np.float32))

TypeError: cannot perform reduce with flexible type

In [15]:
no_of_reviews=(air[1:,11])
reviews=np.array(no_of_reviews)
reviews

array(['9', '45', '0', ..., '0', '0', '0'], dtype='<U179')

In [16]:
type(reviews)

numpy.ndarray

In [17]:
least_reviews=min(reviews)
print("Least number of reviews:",least_reviews)

Least number of reviews: 0

In [18]:
most_reviews=max(reviews)
print("Most number of reviews:",most_reviews)

Most number of reviews: 99

In [19]:
avail=(air[1:,15])
print(avail)

['365' '355' '365' ... '27' '2' '23']